{% block footer %}
<div class="text-center" style="text-decoration: none;">
  <p>
    <a class="navbar-item" href="https://about.facebook.com/meta">Meta</a>
    <a class="navbar-item" href="https://about.instagram.com/">About</a>
    <a class="navbar-item" href="https://about.instagram.com/en_US/blog">Blog</a>
    <a class="navbar-item" href="https://about.instagram.com/about-us/careers">Jobs</a>
    <a class="navbar-item" href="https://help.instagram.com/">Help</a>
    <a class="navbar-item" href="https://developers.facebook.com/docs/instagram">API</a>
    <a class="navbar-item" href="https://help.instagram.com/519522125107875/?maybe_redirect_pol=0">Privacy</a>
    <a class="navbar-item" href="https://help.instagram.com/581066165581870">Terms</a>
    <a class="navbar-item" href="https://www.instagram.com/directory/profiles/">Top Accounts</a>
    <a class="navbar-item" href="https://www.instagram.com/directory/hashtags/">Hashtags</a>
    <a class="navbar-item" href="https://www.instagram.com/explore/locations/">Locations</a>
    <a class="navbar-item" href="https://www.instagram.com/web/lite/">Instagram Lite</a>
    <br>
    <a class="navbar-item" href="https://www.facebook.com/help/instagram/261704639352628">Contact Uploading & Non-Users</a>
  </p>
  <p>
    <a class="navbar-item" href="#" class="dropdown-toggle">English</a>
    <a>© 2022 Instagram from Meta</a>
  </p>
</div>
{% endblock %}