{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}

{% block content %}

<br>
<div class="card text-center">
  <div class="card-body">

    <form method="post" action="" enctype="multipart/form-data" role="form">
      {% csrf_token %}
      <h3 class="title is-1">New Post</h3>

      <div class="field">
        {{ form | crispy }}
        <span class="icon is-small is-left"></span>

        <button type="submit" name="action" class="btn btn-outline-secondary">Create</button>
      </div>
       
    </form>
  </div>
</div>
{% endblock %}