@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body {

  font-family: 'Lora', serif;
}

.navbar-item {
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none!;
  color: black;
}

.card-item {
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none!;
  color: black;
}

.nav-img {
  margin-left: 12%;
  margin-right: 12%;
}

.nav-form {
  margin-left: 6%;
  margin-right: 6%;
  width: 21vw;
}

.card {
  margin-bottom: 5%;
  width: 70%;
}

.card-index {
  margin-bottom: 6%;
}

.rounded-circle {
  margin-top: 2%;
  margin-left: 2%;
}