@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body {
  font-family: 'Lora', serif;
}

.navbar-item {
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none!;
  color: black;
}

.card-item {
  margin-left: 1%;
  margin-right: 1%;
}

.nav-img {
  margin-left: 12%;
  margin-right: 12%;
}

.nav-form {
  margin-left: 6%;
  margin-right: 6%;
  width: 21vw;
}

.card {
  margin-bottom: 5%;
  width: 80%;
  margin-left: 10%;
}

.card-index {
  margin-bottom: 6%;
}

.rounded-circle {
  margin-top: 2%;
  margin-left: 2%;
}

.profile-user {
  font-size: 30px;
  font-weight: 600;
}

.card-profile {
  width: 80vw;
}

.border-0 {
  margin: 0;
}

form {
  margin-bottom: 10px;
}

.button-login {
  margin-top: 20px;
}